<h1 mat-dialog-title>Editar contraseña</h1>
<div mat-dialog-content>    
  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput [formControl]="form" [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.hasError('required')">El campo es requerido</mat-error>
    <mat-error *ngIf="form.hasError('minlength')">6 caracteres o más</mat-error>    
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="onEdit()" [disabled]="form.invalid || isSubmit">Editar</button>
</div>
