
<mat-toolbar class="mat-elevation-z2" color="primary">
    <mat-toolbar-row>
    
      <div  class ="container" fxLayout="row" fxLayoutAlign="space-between center"fxLayoutGap="10px">
    
        <div fxFlex="20px"></div>
        <div fxFlex fxLayoutAlign="start center">
          <button mat-icon-button (click)="showSidenav = !showSidenav">
            <mat-icon>menu</mat-icon>
          </button>
          <span>
            Historias
          </span>
        </div>     

        <div fxFlex="20px"></div>
    
      </div>
    
    </mat-toolbar-row>
    </mat-toolbar>
    
    <mat-sidenav-container class="sidenav-container" autosize>
      <mat-sidenav fixedInViewport="true" fixedTopGap="65" mode="side" [opened]="opened" class="sidenav">        
        <mat-list>
          <mat-list-item [routerLink]="['/'+item.route]"   routerLinkActive="active-route" *ngFor="let item of listSidenav" >
            <ng-container *ngIf="item.roles[0] == role.Admin || item.roles[0] == 'All'">
              <mat-icon mat-list-icon [matTooltip]="(!showSidenav)?item.description:null" >{{item.icon}}</mat-icon>
              <p  *ngIf="showSidenav" mat-line>{{item.description}}</p>
            </ng-container>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>
    
      <mat-sidenav-content>
        
        <div class="main-content">
            <router-outlet></router-outlet>        
        </div>
        
      </mat-sidenav-content>
    </mat-sidenav-container>
