  .mat-drawer.mat-drawer-side{
    z-index: 1;
    padding: 0px;    
  }

  mat-list-item  p{
    margin-left: 30px;
  }

  .sidenav p{
    margin-right: 20px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    //z-index: 10;
  }
  
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
    width: 100%;
  }
  
  .mat-sidenav, .mat-sidenav-content {
    padding: 24px;
  }

  .mat-drawer-container{
    height: 100%;
  }
  
  .main-content{
    width: 100%;    
    overflow: auto;    
  }

  .mat-drawer-content{
    height: 80%;
  }
  

  @import '../../../styles.scss';
  .active-route{
    color: mat-color($primary);
  }