  .mat-drawer.mat-drawer-side{
    z-index: 1;
  }

  .sidenav {
    width: 200px;    
  }
  
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
    width: 100%;
  }
  
  .mat-sidenav, .mat-sidenav-content {
    padding: 24px;
  }
  
  .main-content{
    width: 100%;    
    overflow: auto;    
  }
  