.h-percent-100{
    height: auto;
}

.over-scroll{
    overflow: scroll;
}

.text-editor{
    z-index: 2;
}

.mat-card .mat-divider-horizontal{
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.margin-10{
    margin-top: 5px;
    margin-bottom: 5px;
}

